* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(255, 255, 255);
  text-align: center;
  /*height: 100vh;
    width: 100%;*/
}
.choices {
  display: flex;
  align-items: center;
  justify-content: center;
}
.choice {
  height: 150px;
  width: 150px;
  margin-left: 60px;
  margin-top: 70px;
  margin-bottom: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  height: 140px;
  width: 140px;
  border-radius: 50%;
  object-fit: cover;
}
.choice:hover {
  cursor: pointer;

  background-color: rgb(1, 20, 37);
}
.scores{
    display: flex;
    justify-content: center;
    align-items: center;
    /*margin-left: 50px;*/
}
.score{
    margin-left: 50px;
    margin-right: 50px;
    font-size: 30px;
    font-weight: bold;
}
#btn{
    justify-content: center;
    align-items: center;
    /*margin-left: 50px;*/
    margin-top: 40px;
    border-radius: 50px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    background-color: rgb(2, 16, 46);
}
